.title1 {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.title {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18.5px;
}
.value {
    padding-top: 0;
    padding-bottom: 10px;
    /* padding-left: 30px; */
    font-size: 18.5px;
}

.footer {
    padding-top: 10px;
    font-weight: bold;
    /* padding-left: 10px; */
    font-size: 18.5px;
}
