header {
    /* position: fixed; */
    margin-left:-5px;
    margin-top:-22px;
    margin-right:-5px;
    background-color: rgb(222, 225, 228);
    /* height: 100px; */
    font-size: 14px;
    font-family: Georgia;
    font-style: normal;
    /* line-height: 150%; */
}

.inp_data {
    /* justify-content: baseline; */
    margin-top: 10px;
    margin-bottom: 0;
    
}
.cel_div {
    display: flex;
    justify-content: space-between;
}

.sp_1, .sp_2{
    /* line-height: 200%; */
    position: relative;
    bottom: -5px;
}

.sp_0 {
    display: inline;
     color: rgb(12, 12, 12); 

}

.print_col_all {
    display: flex;
    margin-left: 20px;
}

.print_col_i {
    margin-right: 5px;
    margin-left: 5px;
}

.print_col_all :hover {
    cursor: pointer;
}


/* .input_data_cl {
   
} */

.title__head {
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 0;

    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    /* line-height: 19px; */
    /* letter-spacing: 0.0em; */
}

.btn {
    border: 1px solid #b0cefa;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    width: 120px;
    height: 40px;
    
}

.btn_min {
    border: 1px solid #b0cefa;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    width: 40px;
    height: 40px;
    float:right;
    
}

.cel_row {
    /* line-height: 45px; */
    background-color: #D5DFEE;

    
}

.btn_sel {
  border: none;
  background-color: #77A0DF;
  margin-bottom: 4px;
}

.header__table {
    margin: 20px;
    margin-top: 0;
    /* text-align: left; */
    padding:10px ;
    
}
.table__cl {
    width: 100%;
    background-color: #D5DFEE;
    /* border:none; */
    /* border-width: 4px; */
}

.cel_def {
    padding: 5px;
}
.btn_div {
    text-align: right;
}

 .btn_div :hover {
    cursor: pointer;
    background-color:#77a0df;
    color: white;    
}

#btn__print_id {
    margin-right: 10px;
}

.cel_chb {
    text-align: center;
}

.sp_2 {
    box-sizing: border-box;
    margin-left: 5px;
    
}

.sp_2 :hover {
    cursor: pointer;
    border: 0px solid #b0cefa;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.btn_menu {
    text-align: right;
}

.context-menu__item {
    list-style-type: none;
    margin-left: -40px;    
}


.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
  }
   
  .context-menu--active {
    display: block;
  }

.cel_h {
    text-align: left;
    justify-content: space-between;
    min-width: 50px;
    border: 4px solid #77a0df;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #77a0df;
    padding:5px;

}

.cel_def {
  max-width: 150px;
}


.title1 {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.title {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18.5px;
}
.value {
    padding-top: 0;
    padding-bottom: 10px;
    /* padding-left: 30px; */
    font-size: 18.5px;
}

.footer {
    padding-top: 10px;
    font-weight: bold;
    /* padding-left: 10px; */
    font-size: 18.5px;
}


.btn_div :hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn_div :active {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.22);
}


/* =================================== Modal window ======================================= */

.modal__wrapper {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(41, 41, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal__wrapper:hover .modal_close {
  transform: rotate(360deg);
  background-color: #fddcc4;
  transition: all 0.5s;
}

.pet_info {
  overflow: scroll;
}

.modal {  
  max-height: 500px;  
}


.modal__wrapper .modal {
  width: 900px;
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  position: fixed;
  padding: 5px;
  
}

.modal__wrapper .modal:hover .modal_close {
  transform: rotate(0deg);
  background: rgba(41, 41, 41, 0);
}

.modal__wrapper .modal .modal_close {
  position: absolute;
  left: calc(100% - 10px);
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__wrapper .modal .modal_close img {
  display: block;
}
.modal__wrapper .modal .modal_close:hover {
  transform: rotate(360deg);
  background-color: #fddcc4;
  transition: all 2s;
}


.modal__wrapper .modal .pet_info {
  padding: 50px 20px 0 29px;
}
.modal__wrapper .modal .pet_info {
  margin-bottom: 10px;
}
.modal__wrapper .modal .pet_info .pet_info__about {
  margin-bottom: 40px;
}

.modal__wrapper_active {
  top: 0;
}

.modal__wrapper .modal {
  width: 630px;
}
.modal__wrapper .modal .modal__image img {
  width: 350px;
}
.modal__wrapper .modal .pet_info {
  padding: 10px 8px 10px 11px;
}
.modal__wrapper .modal .pet_info .pet_info__type {
  margin-bottom: 20px;
}
.modal__wrapper .modal .pet_info .pet_info__about {
  margin-bottom: 20px;
}
.modal__wrapper .modal .pet_info .pet__info__advantage li {
  margin-bottom: 5px;
}

.row_cl :hover {
  
}

#scroll_top {
	display: none;
	position: fixed;
	bottom: 60px;
	right: 30px;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(../assets/icons/scroll_top.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.2;
}
#scroll_top:hover {
 	opacity: 1;
}

 #scroll_bottom {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	width: 32px;
	height: 32px;
	background: url(../assets/icons/scroll_bottom.png) 50% 50% no-repeat;
	border-radius: 50%;
	opacity: 0.2;
}
#scroll_bottom:hover {
 	opacity: 1;
} 

