



button, .input_date_field, .input_field {
    border-radius: 5px;
    border: 0px black;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: auto;
    overflow: auto;
}
.input_field {
    margin-top: 10px;
}
.input_field, .input_date_field {
    /* width: 100%; */
    background-color: #F3EAC2;
}

.par {
    font-weight: 600;
    display: block;
    margin: 20px;
    padding: 10px;
    width: 360px;
    border-radius: 5px;
    background-color: #f5b461;
    /* float: left; */
    justify-content: space-between;
}

.input_field{
    width: 36vh;
}