:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}


.container {
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.start {
  padding-top: 60px;
  background: url(./../assets/images/noise_transparent@2x.png), 
      radial-gradient(100% 215.42% at 0% 0%, 
      #5b483a 0%, #262425 100%), #211f20;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.h1 {
  color: #3b312b;
  height: 0;
  position: absolute;
  top: -20px;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  margin-bottom: 10px;
}
.header .header__logo .header__logo_link {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
.header .header__text {
  font-family: Arial;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-left: 4px;
  color: #ffffff;
}

.header .header__list {
  width: 520px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}

.header .header__list .header__list_item {
  margin-right: 35px;
}
.header .header__list .header__list_item:last-child {
  margin-right: 0;
}
.header .header__list .header__list_item:first-child a {
  color: #ffffff;
}
.header .header__list .header__list_item a {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
  padding-bottom: 3px;
}
.header 
.header__list 
.header__list_item a.list-item_active, 
.header 
.header__list 
.header__list_item a:hover {
  color: #ffffff;
}
.header .header__list .header__list_item a.list-item_active, 
.header .header__list .header__list_item a:active {
  border-bottom: 3px solid #f1cdb3;
}
.header .header__burger {
  display: none;
}

.start-screen {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.start-screen .start_screen__article {
  align-self: center;
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-bottom: 20px;
}
.start-screen .start_screen__article .start_screen__caption {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  width: 510px;
  margin-bottom: 42px;
}
.start-screen .start_screen__article .start_screen__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 42px;
}
.start-screen .start_screen__article 
.start_screen__button  {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: #292929;
}

.btn__span  :hover {
  cursor: pointer;
}
.start-screen .start_screen__article .start_screen__button:hover, 
.start-screen .start_screen__article .start_screen__button:focus {
  cursor: pointer;
  outline: none;
}
.start-screen .start_screen__article .start_screen__button:hover {
  background: #fddcc4;
}
.start-screen .start_screen__image {
  align-self: flex-end;
}
.start-screen .start_screen__image img {
  display: block;
  float: right;
  margin-bottom: 5vh;
}
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px;
  box-sizing: border-box;
}
.about__wrapper .about__article {
  width: 36%;
}
.about__wrapper .about__image {
  width: 300px;
  height: 408px;
  margin-right: 120px;
  background-image: url(./../assets/images/about.jpg);
}
.about__wrapper .h2 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 302px;
  margin-bottom: 25px;
}
.about__wrapper .about__text {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin-bottom: 25px;
}
.about__wrapper .about__text:last-child {
  margin-bottom: 0;
}
.about__btn {
    width: 207px;
    height: 52px;
    background: #f1cdb3;
    border-radius: 100px;
    border: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #292929;
}

.our__friends {
  background-color: #f6f6f6;
}
.our__friends .our__friends__wrapper {
  height: 877px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.our__friends .our__friends__wrapper .our__friends__caption {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  width: 600px;
}

.wr__for_btn {
  text-align: center;
  margin-bottom: 60px;
}

#act__button {
  width: 259px;
  height: 51px;
  background: #f1cdb3;
  border-radius: 26px;
  border: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: #292929;
  margin: 0px 10px;
}

.our__friends .our__friends__wrapper .our__friends__caption {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  width: 600px;  
}

.our__friends .our__friends__wrapper .our__friends__button  {
  width: 259px;
  height: 51px;
  background: #f1cdb3;
  border-radius: 26px;
  border: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: #292929;
  margin: 0px 10px;
}
 .our__friends .our__friends__wrapper .our__friends__button:hover, .our__friends .our__friends__wrapper .our__friends__button:focus {
  outline: none;
  cursor: pointer;
}
.our__friends .our__friends__wrapper .our__friends__button:hover {
  background: #fddcc4;
}

.pet_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pet_slider .pet__slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f6f6f6;
  cursor: pointer;
}
.pet_slider .pet__slider__arrow:hover {
  background: #f1cdb3;
}
.pet_slider .pet__slider__arrow:active {
  transform: scale(0.95);
}
.pet_slider .pet__slider__arrow:focus {
  outline: none;
}
.pet_slider .pet__slider__arrow:disabled {
  border-color: #cdcdcd;
}
.pet_slider .pet__slider__arrow:disabled img path {
  fill: #cdcdcd;
}
@keyframes slideLeft {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideRight {
  from {
    left: 0;
  }
  to {
    left: calc(-100% - 90px);
  }
}
.pet_slider .pet_slider__items {
  display: flex;
  justify-content: flex-start;
  max-width: 990px;
  overflow: hidden;
}
.pet_slider .pet_slider__items .item_animation-right {
  animation: slideRight 0.5s ease-out;
}
.pet_slider .pet_slider__items .item_animation-left {
  animation: slideLeft 0.5s ease-out;
}

.pet_slider__item-image img {
    width: 250px;
    
}
.pet_slider__item-image {
  height: 200px;
  
}

.pet_slider .pet_slider__items .pet_slider__item {

  height: 360px;

  padding-top: 10px;
  width: 270px;
  margin-right: 90px;
  box-sizing: border-box;
  text-align: center;
  left: 0;
  flex-shrink: 0;
  position: relative;
  background: #fafafa;
  border-radius: 9px;
}
.pet_slider .pet_slider__items .pet_slider__item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet_slider .pet_slider__items .pet_slider__item .pet_slider__item-image {
  margin-bottom: 27px;
}
.pet_slider .pet_slider__items .pet_slider__item .pet_slider__item-name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-bottom: 30px;
}
.pet_slider .pet_slider__items .pet_slider__item .pet_slider__item-button {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #fafafa;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  width: 187px;
  height: 52px;
}
.pet_slider .pet_slider__items .pet_slider__item .pet_slider__item-button:hover, .pet_slider .pet_slider__items .pet_slider__item .pet_slider__item-button:focus {
  outline: none;
  cursor: pointer;
}
.pet_slider .pet_slider__items .pet_slider__item .pet_slider__item-button:hover {
  background: #fddcc4;
}

.than__wrapper {
  padding: 80px 0 100px;
  box-sizing: border-box;
}
.than__wrapper .than__caption {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  width: 320px;
  margin: 0 auto 60px;
}
.than__wrapper .than__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0 auto -55px;
}
.than__wrapper .than__list .than__list_item {
  margin-right: 120px;
  margin-bottom: 55px;
  text-align: center;
}
.than__wrapper .than__list .than__list_item:nth-child(5), .than__wrapper .than__list .than__list_item:last-child {
  margin-right: 0;
}
.than__wrapper .than__list .than__list_item .than__item_image {
  margin-bottom: 27px;
}
.than__wrapper .than__list .than__list_item .than__item_name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.donation {
  background: #f6f6f6;
}
.donation .donation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px;
}
.donation .donation__wrapper .donation__image_item {
  margin-right: 30px;
}
.donation .donation__wrapper .donation__article_item {
  width: 31.5%;
}
.donation .donation__wrapper .donation__caption {
  width: 80%;
  margin-bottom: 20px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation .donation__wrapper .donation__text {
  margin-bottom: 20px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 116%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation .donation__wrapper .donation__account {
  margin-bottom: 20px;
  width: 349px;
  height: 43px;
  padding-left: 15px;
  padding-top: 10px;
  box-sizing: border-box;
  background: #f1cdb3;
  border-radius: 9px;
}
.donation .donation__wrapper .donation__account .donation__account_image {
  margin-right: 15px;
  float: left;
}


.donation .donation__wrapper .donation__account .donation__account_number a {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
}
.donation .donation__wrapper .donation__account .donation__account_number a:hover {
  font-style: italic;
}
.donation .donation__wrapper .donation__note {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  max-width: 550px;
  color: #b2b2b2;
}



.footer {
  background: url(./../assets/images/noise_transparent@2x.png), 
  radial-gradient(110.67% 538.64% at 5.73% 50%,
   #513d2f 0%, #1a1a1c 100%), #211f20;
}
.footer .footer__wrapper {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer__wrapper .footer__info {
  display: flex;
  justify-content: space-between;
  width: 62%;
  margin-top: 18px;
}
.footer .footer__wrapper .footer__contacts {
  width: 279px;
}
.footer .footer__wrapper .footer__location {
  width: 302px;
}
.footer .footer__wrapper .footer__contacts_caption,
.footer .footer__wrapper .footer__location_caption {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer .footer__wrapper .footer__email_address,
.footer .footer__wrapper .footer__phone_number,
.footer .footer__wrapper .footer__location_name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
.footer .footer__wrapper .footer__email_icon,
.footer .footer__wrapper .footer__phone-icon,
.footer .footer__wrapper .footer__location_icon {
  margin-right: 20px;
  flex-shrink: 0;
}
.footer .footer__wrapper .footer__contacts_caption,
.footer .footer__wrapper .footer__contacts_email {
  margin-bottom: 40px;
}
.footer .footer__wrapper .footer__location_caption,
.footer .footer__wrapper .footer__location_address {
  margin-bottom: 33px;
}
.footer .footer__wrapper .footer__location_caption:last-child,
.footer .footer__wrapper .footer__location_address:last-child {
  margin-bottom: 0;
}
.footer .footer__wrapper a {
  display: flex;
}
.footer .footer__wrapper .span_one_line {
  padding-top: 5px;
}
.footer .footer__wrapper .footer__image {
  width: 300px;
  height: 310px;
  align-self: flex-end;
  /* background-image: url(./../assets/images/school.jpg); */
}

@media screen and (max-width: 1279px) {
  .start {
    padding-top: 30px;
  }

  .header {
    padding: 0 30px;
  }

  .start-screen {
    flex-direction: column;
    justify-content: center;
  }
  .start-screen .start_screen__article {
    margin-bottom: 100px;
    width: 60%;
  }
  .start-screen .start_screen__article .start_screen__button {
    margin: 0 auto;
  }
  .start-screen .start_screen__image {
    margin-right: 30px;
    text-align: end;
  }
  .start-screen .start_screen__image img {
    width: 74vw;
    
  }

  .about__wrapper {
    flex-direction: column;
  }
  .about__wrapper .about__article {
    width: 56%;
  }
  .about__wrapper .about__article {
    margin-bottom: 80px;
    order: -1;
  }
  .about__wrapper .about__image {
    margin-right: 0;
  }

  .pet_slider {
    padding: 0 30px;
    box-sizing: border-box;
  }
  .pet_slider .pet_slider__items {
    max-width: 580px;
  }
  .pet_slider .pet_slider__items .pet_slider__item {
    margin-right: 40px;
  }
  @keyframes slideRight {
    from {
      left: 0;
    }
    to {
      left: calc(-100% - 40px);
    }
  }
  .pet_slider .pet__slider__arrow:hover {
    background-color: #f6f6f6;
  }

  .than__wrapper .than__list .than__list_item {
    width: 30%;
    margin-right: 0;
  }
  .than__wrapper .than__list .than__list_item:nth-child(5), .than__wrapper .than__list .than__list_item:nth-child(3n), .than__wrapper .than__list .than__list_item:last-child {
    margin-right: 0;
  }

  .donation .donation__wrapper {
    flex-direction: column;
  }
  .donation .donation__wrapper .donation__article_item {
    width: 49.5%;
    margin-bottom: 60px;
    order: -1;
  }
  .donation .donation__wrapper .donation__image_item {
    margin-right: 0;
  }

  .footer .footer__wrapper {
    flex-direction: column;
    padding: 30px 30px 0;
  }
  .footer .footer__wrapper .footer__info {
    justify-content: space-around;
    width: 100%;
    margin: 0 0 65px;
  }
  .footer .footer__wrapper .footer__image {
    align-self: center;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 10px;
  }
  .header .header__logo_item {
    margin-right: 41px;
    z-index: 20;
  }
  .header .header__nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.3s linear, background-color 0s linear 0.3s;
  }
  .header .header__nav .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #292929;
    margin-right: 0;
    margin-left: auto;
    width: 320px;
    height: 100%;
  }
  .header .header__nav .header__list .header__list_item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header .header__nav .header__list .header__list_item a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }
  .header .header__nav .header__list .header__list_item:last-child {
    margin-bottom: 0;
  }
  .header .header__nav-active {
    transform: translateX(0%);
    background: rgba(41, 41, 41, 0.6);
  }
  .header .header__burger {
    display: block;
    margin-right: 43px;
    z-index: 20;
    transition: 0.3s all linear;
  }
  .header .header__burger .header__burger_line {
    width: 30px;
    height: 2px;
    background-color: #f1cdb3;
    margin-bottom: 8px;
  }
  .header .header__burger .header__burger_line:last-child {
    margin-bottom: 0;
  }
  .header .header__burger-active {
    transform: rotate(90deg);
  }

  @keyframes changeOpacity {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .header_active {
    justify-content: flex-end;
  }
  .header_active .header__logo_item {
    animation: changeOpacity 0.5s;
  }

  .start-screen {
    padding-right: 10px;
    padding-left: 10px;
  }
  .start-screen .start_screen__article {
    width: 100%;
    max-width: 400px;
    margin-bottom: 105px;
    text-align: center;
  }
  .start-screen .start_screen__article .start_screen__caption {
    width: 250px;
    align-self: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .start-screen .start_screen__image {
    margin-right: 0;
  }
  .start-screen .start_screen__image img {
    width: 81vw;
  }

  .about__wrapper {
    padding: 42px 10px;
  }
  .about__wrapper .h2 {
    text-align: center;
    width: 290px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .about__wrapper .about__image {
    width: 260px;
    height: 354px;
    /* background-image: url(./assets/images/about.jpg); */
  }
  .about__wrapper .about__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    max-width: 450px;
  }
  .about__wrapper .about__article .about__text {
    box-sizing: border-box;
    padding: 0 15px;
    text-align: justify;
    margin-bottom: 23px;
  }
  .about__wrapper .about__article .about__text:last-child {
    margin-bottom: 0;
  }

  .our__friends .our__friends__wrapper {
    height: 791px;
    padding: 0 10px;
    justify-content: space-evenly;
  }
  .our__friends .our__friends__wrapper .our__friends__caption {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .our__friends .pet_slider {
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 320px;
  }
  .our__friends .pet_slider .pet_slider__items {
    max-width: 270px;
    margin-bottom: 20px;
    order: -1;
  }

  .than__wrapper {
    padding: 42px 10px;
  }
  .than__wrapper .than__caption {
    width: 230px;
    margin-bottom: 42px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .than__wrapper .than__list {
    margin-bottom: -30px;
  }
  .than__wrapper .than__list .than__list_item {
    width: 50%;
    margin-bottom: 30px;
  }
  .than__wrapper .than__list .than__list_item:last-child {
    margin-right: auto;
  }
  .than__wrapper .than__list .than__list_item .than__item_image {
    margin-bottom: 18px;
  }
  .than__wrapper .than__list .than__list_item .than__item_name {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 116%;
    letter-spacing: 0.06em;
  }

  .donation .donation__wrapper {
    padding: 42px 10px 40px;
  }
  .donation .donation__wrapper .donation__image_item img {
    display: block;
    float: right;
  }
  .donation .donation__wrapper .donation__article_item {
    width: 100%;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .donation .donation__wrapper .donation__article_item .donation__caption {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    width: 75%;
  }
  .donation .donation__wrapper .donation__article_item .donation__text {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0;
  }
  .donation .donation__wrapper .donation__article_item .donation__account {
    margin: 0 auto 20px;
    width: 281px;
  }
  .donation .donation__wrapper .donation__article_item .donation__account .donation__account_number {
    padding-top: 4px;
  }
  .donation .donation__wrapper .donation__article_item .donation__account .donation__account_number a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 116%;
    letter-spacing: 0.06em;
  }
  .donation .donation__wrapper .donation__article_item .donation__note {
    padding: 0 10px;
    max-width: 400px;
    text-align: justify;
  }

  .footer .footer__wrapper {
    padding: 30px 10px 0;
    text-align: center;
  }
  .footer .footer__wrapper .footer__info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer .footer__wrapper .footer__info .footer__contacts {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__wrapper .footer__info .footer__contacts .footer__contacts_caption {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .footer .footer__wrapper .footer__info .footer__location_caption {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 96%;
    margin: 0 auto 40px;
  }
  .footer .footer__wrapper .footer__info .footer__location_address:not(:last-child) {
    margin-bottom: 40px;
  }
  .footer .footer__wrapper .footer__info .footer__location_address a {
    text-align: left;
  }
  .footer .footer__wrapper .footer__image {
    background-image: url(./../assets/images/school.jpg);
    width: 260px;
    height: 269px;
  }
}
.modal__wrapper {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(41, 41, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__wrapper:hover .modal_close {
  /* transform: rotate(360deg); */
  background-color: #fddcc4;
  /* transition: all 0.5s; */
}
.modal__wrapper .modal {
  width: 910px;
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  position: fixed;
}
.modal__wrapper .modal:hover .modal_close {
  /* transform: rotate(0deg); */
  background: rgba(41, 41, 41, 0);
}
.modal__wrapper .modal .modal_close {
  position: absolute;
  left: calc(100% - 10px);
  top: -52px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__wrapper .modal .modal_close img {
  display: block;
  
}
.modal__wrapper .modal .modal_close:hover {
  /* transform: rotate(360deg); */
  background-color: #fddcc4;
  /* transition: all 2s; */
}
.modal__wrapper .modal .modal__image img {
  display: block;
  width: 500px;
  padding: 6px;
}
.modal__wrapper .modal .pet_info {
  padding: 50px 20px 0 29px;
}
.modal__wrapper .modal .pet_info .pet_info__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.modal__wrapper .modal .pet_info .pet_info__type {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.modal__wrapper .modal .pet_info .pet_info__about {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 116%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.modal__wrapper .modal .pet_info .pet__info__advantage li {
  margin-bottom: 10px;
  /* background-image: url(./assets/dot.svg); */
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 15px;
}
.modal__wrapper .modal .pet_info .pet__info__advantage li:last-child {
  margin-bottom: 0;
}
.modal__wrapper .modal .pet_info .pet__info__advantage .key {
  font-family: Georgia;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.06em;
}
.modal__wrapper .modal .pet_info .pet__info__advantage .value {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 116%;
  letter-spacing: 0.06em;
}

.modal__wrapper_active {
  top: 0;
}

@media screen and (max-width: 1279px) {
  .modal__wrapper .modal {
    width: 630px;
  }
  .modal__wrapper .modal .modal__image img {
    width: 350px;
  }
  .modal__wrapper .modal .pet_info {
    padding: 10px 8px 10px 11px;
  }
  .modal__wrapper .modal .pet_info .pet_info__type {
    margin-bottom: 20px;
  }
  .modal__wrapper .modal .pet_info .pet_info__about {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 110%;
  }
  .modal__wrapper .modal .pet_info .pet__info__advantage li {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .modal__wrapper .modal {
    width: 240px;
  }
  .modal__wrapper .modal .modal_close {
    left: calc(100% - 22px);
  }
  .modal__wrapper .modal .modal__image img {
    display: none;
  }
  .modal__wrapper .modal .pet_info {
    padding: 10px;
  }
  .modal__wrapper .modal .pet_info .pet_info__name {
    text-align: center;
  }
  .modal__wrapper .modal .pet_info .pet_info__type {
    text-align: center;
  }
  .modal__wrapper .modal .pet_info .pet_info__about {
    text-align: justify;
    margin-bottom: 24px;
  }
  .modal__wrapper .modal .pet_info .pet__info__advantage li {
    margin-bottom: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
