@charset "UTF-8";
* {
  background-color: #202023;
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

select {
  border: none;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: rgb(4, 29, 44);
}

li {
  list-style-type: none;
}

body {
  padding: 10px;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}
body .hide-loader {
  display: none;
}
body .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #3498db; /* Колір обводки */
  border-top: 8px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .alarm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* напівпрозорий чорний фон */
  position: fixed;
  width: 100%;
  height: 50%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease-in-out;
}
body .alarm .img-alarm {
  width: 100%;
  height: auto;
  display: block;
  --webkit-user-select: none;
  margin: auto;
  cursor: zoom-in;
  transition: background-color 300ms;
}
body .alarm .cross {
  position: absolute;
  right: 0;
  top: 32px;
  font-size: 2rem;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .title {
  position: fixed;
  z-index: 100;
  top: -50%;
  font-size: 1.4em;
  text-align: center;
  background-color: #666;
  padding: 5px 50px 0 50px;
  width: 30%;
  transition: top 0.3s ease-in-out;
}
header .date {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  max-width: 600px;
}
header .date input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
header .date .date_block {
  width: 90vw;
  height: 10%;
  font-size: 1.6em;
  height: 50px;
  text-align: center;
  border: none;
}
header .date .date_block:focus {
  outline: none;
}
header .date button {
  width: 70px;
  height: 50px;
  font-size: 1.6em;
  border: none;
  background-color: inherit;
}
header .date:hover {
  background-color: rgb(4, 29, 44);
}
header .main-sel {
  display: flex;
  justify-content: center;
}
header .main-sel .sel-block {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
header .main-sel .sel-block .sel-item {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  border: none;
  background-color: rgba(68, 68, 68, 0.2666666667);
  overflow: visible;
}
header .main-sel .sel-block .gray {
  color: rgb(188, 240, 140);
}
header .main-sel .sel-block .sel-item:nth-child(even) {
  background-color: rgba(68, 68, 68, 0.2666666667);
}

main .btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .btn-block .screen {
  width: 500px;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: unset;
}
main .btn-block .screen .less-item {
  width: 100vw;
  padding: 10px;
}
main .btn-block .screen .less-item .blink {
  border: 1px solid red;
}
main .btn-block .screen .less-item li {
  font-size: 1.6em;
  border-radius: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
main .btn-block .screen .less-item li .time {
  font-size: 1.2rem;
  color: green;
  margin-right: 16px;
  width: 42px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .blink {
  border: none;
}
main .btn-block .screen .less-item li .num {
  margin-right: 16px;
  width: 24px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .klas {
  margin-left: 16px;
  color: #90f0a8;
  min-width: 100px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .subj {
  margin-left: 16px;
  color: #9090f0;
  min-width: 160px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .zamina {
  width: 600;
  color: red;
  background-color: inherit;
}
main .btn-block .screen .less-item li:hover {
  background-color: rgb(4, 29, 44);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  body header .date {
    background-color: rgba(68, 68, 68, 0.2666666667);
  }
  body header .date button {
    display: none;
  }
}