@charset "UTF-8";
* {
  background-color: #202023;
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

select {
  border: none;
}

select:focus {
  outline: none;
}

select:hover {
  background-color: rgb(4, 29, 44);
}

li {
  list-style-type: none;
}

body {
  padding: 10px;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}
body .hide-loader {
  display: none;
}
body .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #3498db; /* Колір обводки */
  border-top: 8px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  flex-direction: column;
}
header .title {
  font-size: 1.2em;
  text-align: center;
  background-color: unset;
}
header .date {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: unset;
}
header .date .date_block {
  width: 70vw;
  height: 10%;
  font-size: 1.6em;
  height: 50px;
  text-align: center;
  border: none;
  background-color: inherit;
}
header .date .date_block:focus {
  outline: none;
}
header .date button {
  width: 70px;
  height: 50px;
  font-size: 1.6em;
  border: none;
  background-color: inherit;
}
header .date:hover {
  background-color: rgb(4, 29, 44);
}
header .main-sel {
  display: flex;
  justify-content: center;
}
header .main-sel .sel-block {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
header .main-sel .sel-block .sel-item {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  padding: 5px;
  border: none;
  background-color: unset;
}
header .main-sel .sel-block .gray {
  color: rgb(188, 240, 140);
}

main .btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .btn-block .screen {
  width: 500px;
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: unset;
}
main .btn-block .screen .less-item {
  width: 100vw;
  padding: 10px;
}
main .btn-block .screen .less-item li {
  font-size: 1.6em;
  border-radius: 0;
  padding: 10px;
  display: flex;
}
main .btn-block .screen .less-item li .time {
  font-size: 1.2rem;
  color: green;
  margin-right: 16px;
  width: 42px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .num {
  margin-right: 16px;
  width: 24px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .klas {
  margin-left: 16px;
  color: #90f0a8;
  min-width: 100px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .subj {
  margin-left: 16px;
  color: #9090f0;
  min-width: 200px;
  background-color: inherit;
}
main .btn-block .screen .less-item li .zamina {
  width: 600;
  color: red;
  background-color: inherit;
}
main .btn-block .screen .less-item li:hover {
  background-color: rgb(4, 29, 44);
  cursor: pointer;
}