* {
  background-color: #202023;
  color: #fff;
  padding: 0;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

body {
  padding: 20px;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

header .title {
  font-size: 1.2em;
  text-align: center;
}
header .date {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
header .date .date_block {
  width: 70vw;
  height: 10%;
  font-size: 1.6em;
  height: 50px;
  text-align: center;
  border: none;
}
header .date button {
  width: 70px;
  height: 50px;
  font-size: 1.6em;
  border: none;
}
header .main-sel {
  display: flex;
  justify-content: center;
}
header .main-sel .sel-block {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
header .main-sel .sel-block .sel-item {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  padding: 5px;
  border: none;
}
header .main-sel .sel-block .gray {
  color: rgb(188, 240, 140);
}

main {
  margin-top: 8px;
}
main .btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
main .btn-block .screen {
  width: 500px;
  height: 80vh;
  display: flex;
  justify-content: center;
}
main .btn-block .screen .less-item {
  width: 100vw;
  padding: 10px;
}
main .btn-block .screen .less-item li {
  font-size: 1.6em;
  border-radius: 0;
  padding: 10px;
  display: flex;
}
main .btn-block .screen .less-item li .time {
  font-size: 1.2rem;
  color: green;
  margin-right: 16px;
  width: 42px;
}
main .btn-block .screen .less-item li .num {
  margin-right: 16px;
  width: 24px;
}
main .btn-block .screen .less-item li .klas {
  margin-left: 16px;
  color: #90f0a8;
  min-width: 100px;
}
main .btn-block .screen .less-item li .subj {
  margin-left: 16px;
  color: #9090f0;
  min-width: 200px;
}
main .btn-block .screen .less-item li .zamina {
  width: 600;
  color: red;
}
main .btn-block .screen .less-item li:hover {
  background-color: rgb(54, 147, 201);
  cursor: pointer;
}