* {
    /* overflow: hidden; */
    margin: 0;
}

.main {
    
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* background-color: #0c0701; */
    height: 657px;
    justify-content: space-around;
}

.link {

    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 16px;
    
}
.link p {
    margin-top: 8px;
}
.link p a {
    text-decoration: none;
    color: #292929;
}

.btn_min {
    border: 1px solid #b0cefa;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    width: 40px;
    height: 40px;
    float:right;
    
}

.hide-loader {
	display: none;
}

.loader {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	border: 8px solid #3498db; /* Колір обводки */
	border-top: 8px solid transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

.missing {
    display: block;
    margin: 20px;
    padding:10px;
    width: 360px;
    border-radius: 5px;
    background-color: #f5b461;
    /* float: left; */
    justify-content: space-between;

}

.wrapper {
    width: 92%;
    height: 180px;
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: #f3eac2;
}

.missing_item{
    display: block;
    margin-top: 10px;
    
}

button {
    background-color: #ebf3d7;
}

.input_field, .input_date_field{
    /* width: 100%; */
    background-color: #F3EAC2;
}

.input_date_field{
    width: 150px;    
}

.del_edit {
    margin: 2px;
    border: none;
    background-color: #f3eac2;
}

.btn_update_delete {
    display: flex;
}

 .sp_1{
    float: left;
    padding: 5px;
    font-size: 12px;
    
}
.s_1 {
    font-size: 12px;
    /* border: 1px solid black; */
}
.row_data {
    /* border: 1px solid black;  */
}
/* 
.table__cl :hover {
    background-color: #d3b83e;
    
} */

.input_field {
    margin-top: 10px;;
}

.table__cl {
    background-color: #f3eac2;
    width: 100%;
    /* border: none; */
    border: 0px black;
}
button, .input_date_field, .input_field {
    border-radius: 5px;
    border: 0px black;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: auto;
    overflow: auto;
    
}

.shadow :hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.width_all {
    width: 100%;
}

#table_id {
    margin-bottom: 10px;
}

.btn_update_delete :hover {
    cursor: pointer;
}

.missing_list {
    background-color: #ec524b;
    color: white;
}

.pz {
    background-color: #9ad3bc;
    
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.missing_item {
    margin-top: 20px;
    
}

#output_id {
 
    width: 90%;
    padding: 10px auto;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.sett_pz {
    margin-bottom: 120px;
}