.missing {
    display: block;
    margin: 20px;
    padding:10px;
    width: 280px;
    background-color: #aaaaaa;
    /* float: left; */
    justify-content: space-between;

}

.missing_item{
    display: block;
    margin-top: 10px;
    
}

.input_field{
    width: 100%;
}

.input_date_field{
    width: 150px;
    
}

 .sp_1{
    float: left;
    padding: 5px;
    font-size: 12px;
    
}
.s_1 {
    font-size: 12px;
    /* border: 1px solid black; */
}
.row_data {
    border: 1px solid black; 
}

.table__cl :hover {
    background-color: #759df5;
}

.table__cl {
    background-color: #91a3ca;
    width: 100%;
    border: 1px solid black;
}

#table_id {
    margin-bottom: 10px;
}