/* AdvMenu */
$mainFon1: #47a4b4;
$mainFon2: #02282b;
$mainFon3: #48336e;
$color_1: #d0d7ec;
$color_act_button: #8176a7;

#advM {
  color: #d0d7ec;
}

.modal__menu {
  // background: #47a4b4;
}


.advmenu_a__item {

  color: #efefef;

}


.advmenu_ul :hover {
  color: #d0d7ec;
}