* {
    background-color: #202023;
    color: #fff;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
$bgc2: unset;
$bgc3: #4444;
// $bgc2: #31313a;
select {
    border: none;
}

select:focus {
    outline: none;
}

select:hover {
    background-color: rgb(4, 29, 44);
}

li {
    list-style-type: none;
}

body {
    padding: 10px;
    font-size: 14px;
    max-width: 600px;
    margin: 0 auto;

    .hide-loader {
        display: none;
    }
    #myCanvas {
        position: fixed;
        top: -100%;
    }
    
    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 8px solid #3498db; /* Колір обводки */
        border-top: 8px solid transparent;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      .alarm {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.0); /* напівпрозорий чорний фон */
        position: fixed;
        width: 50%;
        height: 50%;
        max-width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: top 1.0s ease-in-out;
        .img-alarm {
            width: 100%; 
            height: auto; 
            display: block;
            --webkit-user-select: none;
            margin: auto;
            cursor: zoom-in;        
            transition: background-color 300ms;
        }

        .cross {
            position: absolute;
            right: 0;
            top: 32px;
            font-size: 2rem;
            cursor: pointer;
        }

      }
}


header {
    // position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100vw;
    // margin-top: 10px;
    // gap: -5px;
    .title {
        // display: none;
        position: fixed;
        z-index: 100;
        // left: 40%;
        top: -50%;
        font-size: 1.4em;
        text-align: center;
        background-color: #666;
        padding: 5px 50px 0 50px;
        width: 30%;
        transition: top 0.3s ease-in-out; 
     
        
    }
    
    .date {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        // margin-top: 16px;
        max-width: 600px;
        // background-color: $bgc3;
        
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
          }


        .date_block {
            width: 90vw;
            height: 10%;
            font-size: 1.6em;
            height: 50px;
            text-align: center;
            border: none;
            // background-color: inherit;
            
        }
        .date_block:focus {
            outline: none;
        }

        button {
            width: 70px;
            height: 50px;
            font-size: 1.6em;
            border: none;
            background-color: inherit;
        }

    }
    .date:hover {
        background-color: rgb(4, 29, 44);
    }

    .main-sel {
        display: flex;
        justify-content: center;

        // background-color: #fff;


        .sel-block {
            width: 100%;
            margin-top: 16px;
            display: flex;
            // flex-direction: column;
            justify-content: space-between;

            // width: 265p;
            gap: 24px;

            .sel-item {
                // width: 100%;
                // height: 3rem;
                font-size: 1.5rem;
                text-align: center;
                padding: 5px;
                border: none;
                background-color: $bgc3;
                overflow: visible;

            }

            .gray {
                color: rgb(188, 240, 140);
            }

            .sel-item:nth-child(even) {
                // width: 50%;
                background-color: $bgc3;     

            }


        }
    }


}

main {
    // margin-top: -8px;

    .btn-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        // margin-top: 8px;


        .screen {
            width: 500px;
            height: 80vh;
            display: flex;
            justify-content: center;
            background-color: $bgc2;




            .less-item {

                width: 100vw;
                padding: 10px;

                .blink {
                    border: 1px solid red;
                }

                li {
                    // height: 10%;
                    font-size: 1.6em;
                    border-radius: 0;
                    // line-height: 200%;
                    padding: 10px;
                    display: flex;
                    justify-content: flex-start;

                    // background-color: rgb(153, 206, 54);
                    .time {
                        font-size: 1.2rem;
                        color: green;
                        margin-right: 16px;
                        width: 42px;
                        background-color: inherit;

                    }
                    .blink {
                        border: none;
                    }

                    .num {
                        margin-right: 16px;
                        width: 24px;
                        background-color: inherit;
                    }

                    .klas {
                        margin-left: 16px;
                        color: #90f0a8;
                        min-width: 100px;
                        background-color: inherit;
                    }

                    .subj {
                        margin-left: 16px;
                        color: #9090f0;
                        min-width: 160px;
                        background-color: inherit;
                    }

                    .zamina {
                        width: 600;
                        color: red;
                        background-color: inherit;
                    }
                }
                

                li:hover {
                    background-color: rgb(4, 29, 44);
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        header {

            .title {

            }
            
            .date {

                background-color: $bgc3;
                input[type="date"]::-webkit-calendar-picker-indicator {

                  }
        
        
                .date_block {

                }
                .date_block:focus {

                }
        
                button {
                    display: none;
                }
        
            }
            .date:hover {

            }
        
            .main-sel {

        
                .sel-block {

        
                    .sel-item {
        
                    }
        
                    .gray {

                    }
        
                    .sel-item:nth-child(even) {
 
        
                    }
        
        
                }
            }
        
        
        }
    }
  }